.DS_Store

# installed modules folder
node_modules

# webpack dist folder
dist

# jsdoc docs folder
docs

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
