<template>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-2">
        <a class="brand-logo left" href="/#/">leoframe</a>

        <ul class="right">
          <li><a href="/#/componente-a">Comp A</a></li>
          <li><a href="/#/componente-b">Comp B</a></li>
          <li><a href="/#/injecao-de-dependencias">Injeção</a></li>
          <li><a href="/#/two-way-data-binding">Two-Way-Data-Binding</a></li>
        </ul>
      </div>
    </nav>
  </div>
  </div>

  <section>
    <div class="card horizontal green darken-1">
      <div class="card-stacked">
        <div class="card-content">
          <span leo-data="component"></span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  function depende() {
    const opts = [
      'Dependência 1',
      'Dependência 2',
      'Dependência 3',
      'Dependência 4',
      'Dependência 5',
      'Dependência 6',
      'Dependência 7',
      'Dependência 8',
      'Dependência 9',
      'Dependência 10',
    ]

    return opts[Math.floor(Math.random() * opts.length)]
  }

  module.exports = class Script {
    constructor() {
      this.component = depende()
    }
  }
</script>

<style>
  section {
    display: grid;
    text-align: center;
    margin-top: 4vh;
  }

  span {
    font-size: 2rem;
  }

  .card {
    margin: 0px 5vw 0px 5vw;
  }

  .card-content {
    color: white;
    font-size: 1.5rem;
  }
</style>
