<template>
  <h1>Home</h1>

  <h2>Teste home</h2>

  <a href="/#/static">Estático</a>
  <a href="/#/reactive">Reativo</a>

  <p leo-data="haha"></p>
</template>

<script>
  module.exports = class Script {
    constructor() {
      this.haha = 'hihi'
    }

    onStart() {
      this.funcao()
    }

    funcao() {
      this.funcao2()
    }

    funcao2() {
      setInterval(() => {
        this.haha = Math.random()
      }, 1500)
    }
  }
</script>

<style>
  h1 {
    color: green;
  }
</style>
