<template>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-2">
        <a class="brand-logo left" href="/#/">leoframe</a>

        <ul class="right">
          <li><a href="/#/exemplo-1">Exemplo 1</a></li>
          <li><a href="/#/exemplo-2">Exemplo 2</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <table class="striped centered lime">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Ativos</th>
        <th>Preço</th>
        <th>Cidade</th>
      </tr>
    </thead>

    <tbody leo-data="formattedTransactions"></tbody>
  </table>
</template>

<script>
  module.exports = class Script {
    constructor() {
      this.interval = undefined

      this.formattedTransactions = ''
      this.transactions = []

      this.companies = [
        {
          name: 'Nubank',
          multiplier: 15,
        },
        {
          name: 'AMD',
          multiplier: 30,
        },
        {
          name: 'Nestlé',
          multiplier: 60,
        },
        {
          name: 'Coca Cola',
          multiplier: 75,
        },
        {
          name: 'Netflix',
          multiplier: 70,
        },
        {
          name: 'Amazon',
          multiplier: 90,
        },
        {
          name: 'Microsoft',
          multiplier: 90,
        },
        {
          name: 'Cyrilla',
          multiplier: 7,
        },
        {
          name: 'Volkswagen',
          multiplier: 80,
        },
        {
          name: 'Intel',
          multiplier: 80,
        },
      ]

      this.cities = [
        'Alto Alegre',
        'Amajari',
        'Boa Vista',
        'Bonfim',
        'Cantá',
        'Caracaraí',
        'Caroebe',
        'Iracema',
        'Mucajaí',
        'Normandia',
        'Pacaraima',
        'Rorainópolis',
        'São João da Baliza',
        'São Luiz',
        'Uiramutã',
      ]
    }

    onStart() {
      this.runRoutine()
      this.interval = setInterval(() => this.runRoutine(), 1000)
    }

    onFinish() {
      clearInterval(this.interval)
    }

    runRoutine() {
      this.createTransaction()
      this.concatTransaction()
    }

    createTransaction() {
      const rdmCompanyIdx = Math.floor(Math.random() * this.companies.length)
      const rdmCityIdx = Math.floor(Math.random() * this.cities.length)
      const rdmCompany = this.companies[rdmCompanyIdx]
      const rdmCity = this.cities[rdmCityIdx]
      const rdmQuantity = Math.floor(Math.random() * 999) + 1
      const rdmCost = (Math.random() * 1000 * rdmCompany.multiplier).toFixed(2)

      this.transactions.push({
        company: rdmCompany.name,
        city: rdmCity,
        quantity: rdmQuantity,
        cost: `R$${rdmCost}`,
      })
    }

    concatTransaction() {
      if (!this.transactions.length > 0) return
      if (this.transactions.length > 50) return this.onFinish()

      const transaction = this.transactions[this.transactions.length - 1]

      this.formattedTransactions += `
        <tr>
          <td>${transaction.company}</td>
          <td>${transaction.quantity}</td>
          <td>${transaction.cost}</td>
          <td>${transaction.city}</td>
        </tr>
      `
    }
  }
</script>
